.label1{
	font-size: 14px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	border-color: rgb(212, 212, 212);
	border-style: solid;
	border-width: 2px;
	border-radius: 5px;
	background-color: rgb(241, 241, 241);
	width: 150px;
	height: 35px;
	margin-bottom: 20px;
}
